{% comment %}
  ------------------------------------------------------------------------------
    Section: Product List
    - Section that displays list of products within carousel.
  ------------------------------------------------------------------------------
{% endcomment %}
{{ 'component.product-item.css' | asset_url | stylesheet_tag }}
{{ 'section.product-list.css' | asset_url | stylesheet_tag }}

{% assign ss = section.settings %}

{% capture css_variables %}
  --section-padding-top: {{ ss.section_padding_top }}px;
  --section-padding-top-desktop: {{ ss.section_padding_top_desktop }}px;
  --section-padding-bottom: {{ ss.section_padding_bottom }}px;
  --section-padding-bottom-desktop: {{ ss.section_padding_bottom_desktop }}px;
  --section-background: {{ ss.bg_color }};

  {% if ss.heading_text != blank %}
    --heading-font-size-desktop: {{ ss.heading_text_font_size_desktop }}px;
    --heading-font-size-mobile: {{ ss.heading_text_font_size_mobile }}px;
    --heading-color: {{ ss.heading_text_color }};
  {% endif %}

  {% if ss.description_text != blank %}
    --description-font-size-desktop: {{ ss.description_text_font_size_desktop }}px;
    --description-font-size-mobile: {{ ss.description_text_font_size_mobile }}px;
    --description-color: {{ ss.description_text_color }};
  {% endif %}

{% endcapture %}

<section
  aria-labelledby="section-title-{{ section.id }}"
  data-section-id="{{ section.id }}"
  style="{{ css_variables | strip_newlines }}"
>
  <div class="product-list container">
    <div class="product-list__text-wrapper">
      {% if ss.heading_text %}
        <{{ ss.heading_type }}
          id="section-title-{{ section.id }}"
          class="product-list__heading {{ ss.heading_text_align }}"
        >
          {{- ss.heading_text -}}
        </{{ ss.heading_type }}>
      {% endif %}
      {% if ss.description_text %}
        <div class="product-list__description {{ ss.description_text_align }}">
          {{ ss.description_text }}
        </div>
      {% endif %}
    </div>
    <div class="product-list__inner">
      <div class="product-list__products-slider swiper {% if section.blocks.size > 1 %}product-list-slider__{{ section.id }}{% endif %}">
        <ul class="product-list__products-list swiper-wrapper">
          {% for block in section.blocks %}
            {% assign bs = block.settings %}

            {% capture block_css_variables %}
              --product-card-hover: {{ bs.color_hover }};
            {% endcapture %}

            <li
              class="product-item swiper-slide"
              style="{{ block_css_variables | strip_newlines }}"
            >
              {%- assign wrapper_tag = 'div' -%}
              {% if bs.product != blank %}
                {%- assign wrapper_tag = 'a' -%}
              {% endif %}

              <{{ wrapper_tag }}
                href="{{ bs.product.url }}"
                class="product-item__wrapper"
              >
                {% if bs.product != blank %}
                  <div class="product-item__label">
                    <p class="product-item__daily-price">
                      {{ bs.product.price | divided_by: 30.00 | money }}
                    </p>
                    <p class="product-item__daily-text">/day</p>
                  </div>
                {% endif %}

                <div class="product-item__media-wrapper">
                  <div class="product-item__image">
                    {% if bs.product_img != blank %}
                      {% render 'image', image: bs.product_img %}
                    {% else %}
                      {% render 'image', image: bs.product.featured_image %}
                    {% endif %}
                  </div>
                  <div class="product-item__tags-wrapper">
                    {% if bs.first_tag_text %}
                      <div class="product-item__tag">
                        {% render 'icon', icon: bs.first_tag_svg %}
                        <span>{{ bs.first_tag_text }}</span>
                      </div>
                    {% endif %}
                    {% if bs.second_tag_text %}
                      <div class="product-item__tag">
                        {% render 'icon', icon: bs.second_tag_svg %}
                        <span class="product-item__tag-title">
                          {{- bs.second_tag_text -}}
                        </span>
                      </div>
                    {% endif %}
                  </div>
                </div>
                <div class="product-item__info">
                  {% if bs.product_title != blank %}
                    <h3 class="product-item__title">
                      {{ bs.product_title }}
                    </h3>
                  {% else %}
                    <h3 class="product-item__title">
                      {{ bs.product.title }}
                    </h3>
                  {% endif %}
                  <p class="product-item__price">
                    {{ bs.product.price | money }}
                  </p>
                </div>
              </{{ wrapper_tag }}>
            </li>
          {% endfor %}
        </ul>
        <div
          class="product-list__pagination product-list__pagination--{{ section.id }}"
        ></div>
      </div>
    </div>
    {% if ss.cta_text != blank %}
      <div class="product-list__btn-wrapper">
        <a href="{{ ss.cta_url }}" class="btn {{ ss.cta_style}}">
          {{- ss.cta_text -}}
        </a>
      </div>
    {% endif %}
  </div>
</section>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    let productListSlider = null;

    const productListSliderOptions = {
      slidesPerView: 1,
      pagination: {
        el: '.product-list__pagination--{{ section.id }}',
        type: 'bullets',
      },
      breakpoints: {
        768: {
          slidesPerView: 2,
          spaceBetween: 15,
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 25,
        },
      },
    };

    productListSlider = new window.Swiper(
      '.product-list-slider__{{ section.id }}',
      productListSliderOptions,
    );

    /* reinitialize slider while making changes in customize (optional) */
    if (window.Shopify.designMode) {
      window.addEventListener('shopify:section:load', () => {
        if (!productListSlider) {
          return;
        }

        // Destroy the existing slider
        productListSlider.destroy();

        // Initialize a new Swiper instance
        productListSlider = new window.Swiper(
          '.product-list-slider__{{ section.id }}',
          productListSliderOptions,
        );
      });
    }
  });
</script>

{% schema %}
{
  "name": "Product List",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding Settings"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Section Padding: top (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Section Padding: bottom (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_padding_top_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Section Padding: top (Desktop)",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_padding_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Section Padding: bottom (Desktop)",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Appearance Settings"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "header",
      "content": "Heading Settings"
    },
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading Text"
    },
    {
      "type": "select",
      "id": "heading_type",
      "label": "Heading type",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ],
      "default": "h2",
      "info": "Select the [heading type](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements) of this text."
    },
    {
      "type": "range",
      "id": "heading_text_font_size_desktop",
      "label": "Font Size (Desktop)",
      "unit": "px",
      "min": 8,
      "max": 100,
      "step": 1,
      "default": 16
    },
    {
      "type": "range",
      "id": "heading_text_font_size_mobile",
      "label": "Font Size (Mobile)",
      "unit": "px",
      "min": 8,
      "max": 100,
      "step": 1,
      "default": 16
    },
    {
      "type": "select",
      "id": "heading_text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ],
      "default": "text-left",
      "info": "Select the horizontal alignment of text."
    },
    {
      "type": "color",
      "id": "heading_text_color",
      "label": "Text Color"
    },
    {
      "type": "header",
      "content": "Description Settings"
    },

    {
      "type": "inline_richtext",
      "id": "description_text",
      "label": "Description"
    },
    {
      "type": "range",
      "id": "description_text_font_size_desktop",
      "label": "Font Size (Desktop)",
      "unit": "px",
      "min": 8,
      "max": 100,
      "step": 1,
      "default": 16
    },
    {
      "type": "range",
      "id": "description_text_font_size_mobile",
      "label": "Font Size (Mobile)",
      "unit": "px",
      "min": 8,
      "max": 100,
      "step": 1,
      "default": 16
    },
    {
      "type": "select",
      "id": "description_text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ],
      "default": "text-left",
      "info": "Select the horizontal alignment of text."
    },

    {
      "type": "header",
      "content": "CTA Settings"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "CTA Link"
    },
    {
      "type": "select",
      "id": "cta_style",
      "label": "CTA Style",
      "options": [
        {
          "value": "btn--primary",
          "label": "Primary"
        }
      ],
      "default": "btn--primary",
      "info": "Select the CTA button style."
    }
  ],
  "blocks": [
    {
      "type": "product_block",
      "name": "Product",
      "settings": [
        {
          "type": "header",
          "content": "Product Card Settings"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Choose Product"
        },
        {
          "type": "image_picker",
          "id": "product_img",
          "label": "Product Image",
          "info": "Custom image to show instead of featured one."
        },
        {
          "type": "text",
          "id": "product_title",
          "label": "Title",
          "info": "Custom heading to show instead of product title."
        },
        {
          "type": "color_background",
          "id": "color_hover",
          "label": "Product Card Hover",
          "default": "#FFF9C0"
        },
        {
          "type": "header",
          "content": "Tags Settings"
        },
        {
          "type": "paragraph",
          "content": "First Tag"
        },
        {
          "type": "select",
          "id": "first_tag_svg",
          "label": "First Tag Icon",
          "options": [
            {
              "value": "immunity",
              "label": "Immunity"
            },
            {
              "value": "mobility",
              "label": "Mobility"
            },
            {
              "value": "stress",
              "label": "Stress"
            },
            {
              "value": "energy",
              "label": "Energy"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "brain",
              "label": "Brain"
            }
          ],
          "default": "immunity",
          "info": "Will only appear if tag text is set"
        },
        {
          "type": "text",
          "id": "first_tag_text",
          "label": "First Tag Text"
        },
        {
          "type": "paragraph",
          "content": "Second Tag"
        },
        {
          "type": "select",
          "id": "second_tag_svg",
          "label": "Second Tag Icon",
          "options": [
            {
              "value": "immunity",
              "label": "Immunity"
            },
            {
              "value": "mobility",
              "label": "Mobility"
            },
            {
              "value": "stress",
              "label": "Stress"
            },
            {
              "value": "energy",
              "label": "Energy"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "brain",
              "label": "Brain"
            }
          ],
          "default": "immunity",
          "info": "Will only appear if tag text is set"
        },
        {
          "type": "text",
          "id": "second_tag_text",
          "label": "Second Tag Text"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Product List",
      "blocks": [
        {
          "type": "product_block"
        },
        {
          "type": "product_block"
        },
        {
          "type": "product_block"
        },
        {
          "type": "product_block"
        }
      ]
    }
  ]
}
{% endschema %}
